body
{
    background-color: gainsboro;
    color: DarkSlateGrey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 50px;
}

header
{
    border: none;
}

nav
{
    background-color: rgba(173, 192, 217, 1);
}

main
{
    width: 1300px;
}

h1, h2
{
    font-family: 'Roboto', sans-serif;
}

h1
{
    text-decoration: underline overline midnightblue;
    color: Midnightblue;
    font-weight: 800;
    font-size: 36px;
    font-variant: small-caps;
    text-align: center;
}

h2
{
    text-decoration: underline overline steelblue;
    color: SteelBlue;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}

img
{
    margin-right: 10px;
    border-style: none;
    border-width: 5px;
    border-radius: 60px;
    border-color: RGB(128, 72, 25);
}

ul
{
    list-style-position: inside;
}

li
{
    background-color: RGB(223, 231, 242);
    line-height: 1.7;
}

a
{
    text-decoration: none;
    color: darkslategray;
}

p
{
    size: 45px;
}

footer
{
    height: 50px;
}