body
{
    color: DarkSlateGrey;
}

h1
{
    text-decoration: underline overline double midnightblue;
    color: Midnightblue;
}

h2
{
    text-decoration: underline overline steelblue;
    margin-top: 52px;
    color: SteelBlue;
}

img
{
    margin-right: 10px;
}

ul
{
    list-style-position: inside;
}

