*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: gainsboro;
    color: DarkSlateGrey;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    width: 1050px;
    margin: auto;
    padding: 10px;
}

header img
{
    width: 100%;
    height: auto;
    border-radius: 0px;
}

header a img:hover
{
    opacity: 1;
}

nav, footer
{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(128, 72, 25);
    border-radius: 25px;
    position: static;
}

nav a:visited, footer a:visited
{
    color: none;
}

nav li:hover, footer a:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

nav a, nav ul li
{
    display: inline-block;
}

nav a, footer a
{
    color: gainsboro;
    text-decoration: none;
    margin: 0 70px;
    padding: 0px 15px;
}

nav ul
{
    list-style: none;
}

nav ul li ul
{
    display: none;
    position: absolute;
}

nav ul li ul a
{
    margin: 0;
}

nav ul li ul li
{
    font-size: 20.5px;
}

nav ul li ul li, nav ul li:hover ul
{
    display: block;    
}

nav ul li:hover ul
{
    padding: 10px;
    background-color: rgba(128, 72, 25, 0.8);
    width: auto;
    list-style: none;
    line-height: 1.8;
}

nav.sticky
{
    position: sticky;
    top: 10px;
}

nav
{
    margin-top: 15px;
    z-index: 2;
}

h1, h2
{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1
{
    color: rgb(128, 72, 25);
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 2px -2px 2px silver;
    margin-bottom: 15px;
}

a h2:hover
{
    text-decoration: underline;
}

h2
{
    color: SteelBlue;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}

a img:hover
{
    opacity: 0.8;
}

img
{
    margin-right: 10px;
    border-style: none;
    border-radius: 15px 0px;
    position: static;
    z-index:1;
}


.birdimg
{
    float: left;
    margin-right: 20px;
}

.birdfacts
{
    height: 220px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px 15px 15px 0px;
}

ul
{
    list-style-position: inside;
    padding-bottom: 15px;
}

li
{
    line-height: 1.8;
    text-align: left;
}

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 15px;
}

button a:hover
{
    background-color: transparent;
}

footer
{
    margin-top: 25px;
}